.animated_boxShadow {
  animation: pulsating-light-animation 1s infinite ease-in-out;
}

@keyframes pulsating-light-animation {
  10% {
    box-shadow: 0px 0px 20px red;
    box-shadow: 0px 0px 40px red;
  }
  50% {
    box-shadow: 0px 0px 60px red;
    box-shadow: 0px 0px 80px red;
  }
  100% {
    box-shadow: 0px 0px 100px red;
    box-shadow: 0px 0px 120px red;
  }
}
