// CircularNav.scss

.circular-nav {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

.menu-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0078d4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.menu-button.active {
  transform: rotate(45deg);
}

.menu-items {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-items.open {
  opacity: 1;
}

.menu-item {
  margin: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0078d4;
  color: red;
  text-align: center;
  text-decoration: none;
  transform-origin: center bottom;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-item:hover {
  background-color: #0056a9;
}

.menu-items.open .menu-item {
  transform: translateY(0);
}

.animated_boxShadow {
  animation: pulsating-light-animation 1s infinite ease-in-out;
}

@keyframes pulsating-light-animation {
  10% {
    box-shadow: 0px 0px 20px blue;
    box-shadow: 0px 0px 40px blue;
  }
  50% {
    box-shadow: 0px 0px 60px blue;
    box-shadow: 0px 0px 80px blue;
  }
  100% {
    box-shadow: 0px 0px 100px blue;
    box-shadow: 0px 0px 120px blue;
  }
}
